@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 239 67% 100%;
    --foreground: 239 59% 3%;
    --muted: 239 31% 88%;
    --muted-foreground: 239 2% 31%;
    --popover: 239 67% 100%;
    --popover-foreground: 239 59% 3%;
    --card: 0 0% 99%;
    --card-foreground: 239 59% 2%;
    --border: 239 10% 90%;
    --input: 239 10% 90%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 0% 100%;
    --secondary-foreground: 239 7% 32%;
    --accent: 239 13% 84%;
    --accent-foreground: 239 13% 24%;
    --destructive: 360 83.84% 57.15%;
    --destructive-foreground: 17 97% 86%;
    --ring: 239 84% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 239 52% 1%;
    --foreground: 239 14% 99%;
    --muted: 239 31% 12%;
    --muted-foreground: 239 2% 69%;
    --popover: 239 52% 1%;
    --popover-foreground: 239 14% 99%;
    --card: 239 52% 2%;
    --card-foreground: 0 0% 100%;
    --border: 239 10% 14%;
    --input: 239 10% 14%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 16% 15%;
    --secondary-foreground: 239 16% 75%;
    --accent: 239 24% 21%;
    --accent-foreground: 239 24% 81%;
    --destructive: 360 85.37% 36.1%;
    --destructive-foreground: 0 0% 100%;
    --ring: 239 84% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full
    w-full
    bg-secondary text-secondary-foreground;
  }
}
